*{
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2222;
  padding: 15px 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: poppins;
  font-weight: bold;
}

/* Logo Styling */
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff7300;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logo:hover {
  color: #e66500;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 2rem;
  margin-right: 20px;
}

/* Individual Links */
.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ff7300;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #222;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }

  .nav-links li {
    padding: 10px 0;
    text-align: center;
  }
}
